*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.upper-container{
    width: 80%;
    height: 100%;
    margin:50px auto;
    position: relative;
    
}

.upper-container1{
    width: 80%;
    height: 400vh;
    padding-top: 20%;
   
    
}
#task{
    font-weight: bold;
    font-size: 2.5rem;  
    color: #424242;
   
    
}
#list{
    font-size: 2.5rem;
    font-weight: bold;
    color: #00A5EC 
}
.upper-container2{
    width:50%;
    height: 150vh;
    padding-top: 10%;
    position: absolute;
    top: 0px;
    right: 0px;   
}
#back-icon{
    position: absolute;
    right: 140%;
    top: 9%;
    cursor: pointer;
    color: black;
   
}
#back{
    position: absolute;
    top: 9%;
    left: 148%;
    font-size: 16px;
}
#circle{
    position: absolute;
    right: 80%;
    top: 9%;
    cursor: pointer;

   
}    
#add{
    position: absolute;
    padding-top: 7px;
    left: 125%;
    font-size: 16px;
    width: 150px;
    height: 30%;
}

/* cardadd */

.card{
    
    border: 3px solid #EDEDED;
    height: 45vh;
    max-width: 50%;
    left: 25%;
    top: 130px;
    border-radius: 10px;
    position: relative; 
    background-color: #FFFFFF;
    cursor: pointer;
}
.card1:hover{
    box-shadow: 6px 6px 10px 10px lightgrey;
}
.div1{
    top: 10px;
    position: absolute;
    left: 20px;
    width: 582px;
    font-size: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 50px;
    color: #00A5EC;
    height: 15%;
    padding-top: 10px;
   
}   
.div2{
    top: 85px;
    position: absolute;
    left: 20px;
    width: 90%;
    font-size: 15px;
    color: grey;
    height: 10%;
    text-decoration: line-through;
    opacity: 0.5;

}
#check1{
    width: 20px;
    height: 20px;
    margin-left: 4px;
    opacity: 0.5;
}
.div3{
    position: absolute;
    top: 50%;    
    left: 20px;
    width: 85%;
    height: 10px;
    font-size: 15px;
    color: #424242;
    
}
#check2{
    width: 20px;
    height: 20px;
    margin-left: 4px;
}
/* pop */
.nosure{
    opacity: 0.4;
    /* position: relative; */
    
}
.pop-up2{
    width: 35%;
    height: 35vh;
    border: 1px solid lightgrey;
    left: 31%;
    top: 28%;
    position: absolute;
    background-color: white;
    border-radius: 9px;
    cursor: pointer;
    
}

#add2{
    width: 30%;
    height: 40%;
    position: absolute;
    left: 3%;
    font-weight: 600;
    padding-top: 13px;
    
}
.pop-up2:hover{
    box-shadow: 6px 6px 10px 10px grey;
}
.material-icons{
    left: 92%;
    position: absolute;
    padding-top: 10px;
    color: black;
    
}

#task2{
    width: 90%;
    position: absolute;
    padding-top: 11px;
    padding-left: 10px;
    font-size: 15px;
    left: 30px;
    top: 35%;
    border-radius: 4px;
    background-color: white;
    border: 1px solid lightgrey;
    opacity: 0.6;
}

.pop-up-button2{
    position: absolute;
    top: 70%;
    left: 73%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    background-color: #00A5EC;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}